<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="edu.wit.comp3660.sportsmanager">

    <application
        android:allowBackup="true"
        android:icon="@drawable/a1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/a1"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">


        <activity
            android:name=".TeamSelectActivity"
            android:label="Select Team"
            android:parentActivityName=".LoginActivity">
        </activity>
        <activity
            android:name=".PlayerActivity"
            android:label="Edit Player">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:label="Sports Manager"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity"></activity>


        <activity
            android:name=".TeamHomeActivity"
            android:label="Team Home">
        </activity>
    </application>

</manifest>